@media only screen and (max-width: 1359px) {
  body {
    --max-width: 100%;
  }
  #tabs {
    grid-area: 1 / 1 / span 1 / span 2;
    position: sticky;
    top: 64px;
    z-index: 98;
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.35);
    clip-path: inset(0 0 -15px 0);
    padding: 0;
    white-space: nowrap;
    overflow: auto;
  }
  #tabs ul {
    position: static;
    margin: 0 auto;
    width: fit-content;
    padding: 1rem var(--indent_l);
  }
  #tabs li {
    display: inline-block;
    outline: 1px solid transparent;
    padding: 0 1rem 0 0;
  }
  #tabs li:last-child {
    padding-right: 0;
  }
  #tabs li:hover {
    outline-color: transparent;
    background-color: transparent;
  }
  #tabs a,
  #tabs a:visited {
    display: inline;
    border-top: 1px solid transparent;
    padding: 0;
    font-weight: 600;
    font-size: var(--font_xs);
  }
  #tabs a:hover {
    border-top-color: transparent;
    text-decoration: underline;
  }
  #content {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: var(--indent_l) var(--indent_s);
  }
  section {
    scroll-margin-top: 140px;;
  }
  #main-page section {
    padding-right: var(--indent_s);
    padding-left: var(--indent_s);
  }
  #main-page .content_divider {
    padding: 0 var(--indent_l);
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 82px !important;
  }
  .slide_note {
    padding: calc( var(--indent_s) * 4 ) var(--indent_l);
  }
  #about-us {
    padding: var(--indent_l) var(--indent_s) !important;
  }
  article,
  .dish {
    flex: 0 0 calc( 25% - ( ( var(--indent_s) * 6 ) / 4 ) );
  }
}

@media only screen and (max-width: 1119px) {
  header {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
  nav > div {
    grid-template-columns: 1fr auto auto;
    column-gap: 0;
  }
  nav ul {
    display: none !important;
  }
  #n_title,
  #n_buttons {
    visibility: visible;
    opacity: 100%;
  }
  #n_current-page {
    display: block;
  }
  #burger-button {
    display: flex !important;
  }
  main {
    padding-top: 64px;
  }
  .article_text-and-photo p {
    font-size: var(--font_xs);
  }
  article,
  .dish,
  #main-page .dish {
    flex: 0 0 calc( 33.33333333333333% - ( ( var(--indent_s) * 4 ) / 3 ) );
  }
  #contacts article {
    flex: 1 0 calc( 33.33333333333333% - ( ( var(--indent_s) * 4 ) / 3 ) );
  }
  .dish .filler_between:last-child {
    flex-direction: column;
  }
  .dish button[type="submit"] {
    width: 100%;
  }
  footer > div {
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    column-gap: calc( var(--indent_l) * 2 );
  }
  #f_apps {
    grid-area: 3 / 3 / span 1 / span 1;
  }
  #f_copy {
    grid-area: 3 / 1 / span 1 / span 2;
    width: 100%;
  }
}

@media only screen and (max-width: 809px) {
  #n_buttons a[href*="cart"],
  #n_buttons a[href*="account"] {
    display: none;
  }
  #burger-menu a[href*="cart"],
  #burger-menu a[href*="account"] {
    display: block;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .slide img.desktop {
    display: none;
  }
  .slide img.mobile {
    display: block;
  }
  section h1 {
    text-align: center;
  }
  .section_heading-with-button {
    justify-content: center;
  }
  .section_heading-with-button button {
    display: none;
  }
  button.hidden {
    display: block;
  }
  article.static {
    padding-top: 0 !important;
  }
  .article_text-and-photo {
    grid-template: repeat(3, auto) / 1fr !important;
    gap: 0;
  }
  .article_text-and-photo p {
    order: 2 !important;
    padding: 0 0 var(--indent_l) !important;
    text-align: left;
    font-size: var(--font_m);
  }
  .path {
    display: none;
  }
  .article_text-and-photo img {
    order: 1 !important;
    margin: 0 0 var(--indent_l) !important;
  }
  .article_text-and-photo:last-child p {
    padding-bottom: 0 !important;
  }
  article,
  .dish,
  #main-page .dish {
    margin: 0 auto;
    flex: 0 0 calc( 50% - var(--indent_s) );
  }
  #contacts article {
    flex: 1 0 calc( 50% - var(--indent_s) );
  }
  #main-page main > section:last-child article {
    margin: 0;
  }
  .switcher {
    text-align: center;
  }
  #feedback form {
    grid-template: repeat(4, auto) / auto;
    column-gap: 0;
  }
  #feedback > .note {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  #feedback_header {
    grid-area: 2 / 1 / span 1 / span 1;
    grid-template: repeat(2, min-content) / repeat(2, 1fr);
    column-gap: var(--indent_l);
    grid-auto-flow: column;
  }
  #feedback_main {
    grid-area: 3 / 1 / span 1 / span 1;
  }
  #feedback textarea {
    flex: 0 0 200px;
  }
  #feedback_footer {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  footer > div {
    grid-template: repeat(6, auto) / repeat(2, auto);
  }
  #f_contact {
    order: 2;
  }
  #f_co-op {
    order: 3;
  }
  #f_friends {
    order: 4;
  }
  #f_docs {
    grid-area: 3 / 1 / span 1 / span 2;
  }
  #f_payment {
    grid-area: 4 / 1 / span 1 / span 2;
  }
  #f_apps {
    grid-area: 5 / 1 / span 1 / span 2;
  }
  #f_copy {
    grid-area: 6 / 1 / span 1 / span 2;
    margin-top: 0.875rem;
  }
}

@media only screen and (max-width: 529px) {
  section h1 {
    font-size: 2rem;
  }
  .article_text-and-photo p {
    font-size: var(--font_2xs);
  }
  article,
  .dish,
  #main-page .dish {
    flex: 0 0 100%;
  }
  .dish .filler_between:last-child {
    flex-direction: row;
  }
  .dish button[type="submit"] {
    width: calc( 50% - ( var(--indent_m) / 2 ) );
  }
  #feedback_header {
    grid-template: repeat(4, min-content) / auto;
    column-gap: 0;
  }
  #feedback_footer {
    grid-template: repeat(3, auto) / auto;
    column-gap: 0;
  }
  #feedback_footer .note {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: center;
  }
  #feedback button {
    width: 100%;
  }
  #feedback button[type="reset"] {
    grid-area: 3 / 1 / span 1 / span 1;
  }
}